img{
    width: 250px;
    height: 200px;
}

div{
    /* float: left; */
      /* display: flex; */
    margin: 5px;
    height: 300px;
    box-shadow: 5px 3px 3px 0px;
    margin-top: 20px;
}
section{
    display: flex;
    flex-wrap: wrap ;
    /* text-align: center; */
}
header{
height: 80px;
box-shadow: 5px 3px 3px 0px;
}

